body {
    background-image: url("./migas_wordpress.jpg");
    height: 100%;
    width: 100%;
    background-position: contain;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0px;
    background-color:#C2DEF4;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

p {
    text-align: center;
  }

.topnav {
    background-color: #C2DEF4;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottomnav {
    background-color: #C2DEF4;
    padding-top: 5px;
    padding-bottom: 5px;
}

.juices {
    position: left;
}

.food {
    position: right;
}

.menu {
    align-content: center;
}