body {
    background-image: url("./migas_wordpress.jpg");
    height: 100%;
    width: 100%;
    background-position: auto;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0px;
    background-color:#C2DEF4;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

p {
    text-align: center;
  }

.topnav {
    background-color: #C2DEF4;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bottomnav {
    background-color: #C2DEF4;
    padding-top: 5px;
    padding-bottom: 5px;
}

.juices {
    padding-right: 900px;
}

.text {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}

.food {
    padding-left: 900px;
}

.menu {
    align-content: center;
}